body{
margin:0px auto;
padding:0px;
background-color:white;
font-family:"Tahoma";
font-size:110%;

}

#top{

height:100px;
width:100%;
background-color:white;
margin: 0px auto;


}

#top_logo{

background-color:white;


}

#second_bar{
background-color:#656762;
height:30px;
border:1px black solid;
padding-top:3px;
padding-bottom:3px;
box-shadow:2px 5px 10px grey;





}



#fixed{

position:fixed;
width:100%;
z-index:2;
}



a{
text-decoration:none;
color:white;
}
.second_bar_section{
position:relative;




}
.same{
float:left;
height:25px;


margin-right:5px;

margin-bottom:5px;
padding:4px 20px 0 20px;

}
.same:hover{
background-color:#ef7169;
border-radius:10px;
border-right:none;
}
.dropdown{
position:absolute;
background-color:#e8d7b4;
top:30px;
left:97px;
width:120px;
text-align:center;
border-radius:5px;
display:none;

}

#bottombar{
height:40px;
background-color:black;
position:fixed;
bottom:0px;
width:100%;
color:white;
text-align:center;


}

#bottomtext{

font-size:80%;
position:relative;
top:10px;
}
